<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Cap Shopping: Comprar Productos</ion-label>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="none">
    <ion-list-header class="ion-text-center" color="danger" lines="full">
      <div class="ion-text-center">
        <h5 class="ion-text-uppercase ion-text-center">Scroll a la derecha para ver las opciones</h5>
      </div>
    </ion-list-header>
    <ion-item-sliding #item1>
      <ion-item-options side="end">
          <ion-item-option (click)='agregarCarro("Zelda Ocarina of Time",item1)' color="warning">
            <ion-icon name="card-outline"></ion-icon>
            <ion-label>Comprar</ion-label></ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-card>
          <ion-card-header color="primary">
              <ion-card-title>Zelda Ocarina Of Time</ion-card-title>
              <ion-card-subtitle  >
                <ion-chip class="fondoPrecio" color="danger">
                  <ion-icon name="cash-outline"></ion-icon>
                  <ion-label>$50.000</ion-label>
                </ion-chip>
              </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content >
              <div class="ion-margin-top">
                <ion-img class='imagenProducto' src="assets/juegos/zelda.jpg"></ion-img>
              </div>
              <div class="ion-padding ion-text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, doloremque. Dolores excepturi magnam commodi. Soluta quaerat rem eos quasi, accusantium, sapiente explicabo quos alias dolor laborum blanditiis, excepturi numquam aliquid!</p>
              </div>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-item-sliding>
    <ion-item-sliding #item2>
      <ion-item-options side="end">
          <ion-item-option (click)='agregarCarro("Super Mario World",item2)' color="warning">
            <ion-icon name="card-outline"></ion-icon>
            <ion-label>Comprar</ion-label></ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-card>
          <ion-card-header color="primary">
              <ion-card-title>Super Mario World</ion-card-title>
              <ion-card-subtitle>
                <ion-chip class="fondoPrecio" color="primary">
                  <ion-icon name="cash-outline"></ion-icon>
                  <ion-label>$25.000</ion-label>
                </ion-chip>
              </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content >
              <div class="ion-margin-top">
                <ion-img class='imagenProducto' src="assets/juegos/mario.png"></ion-img>
              </div>
              <div class="ion-padding ion-text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, doloremque. Dolores excepturi magnam commodi. Soluta quaerat rem eos quasi, accusantium, sapiente explicabo quos alias dolor laborum blanditiis, excepturi numquam aliquid!</p>
              </div>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-item-sliding>
    <ion-item-sliding #item3>
      <ion-item-options side="end">
          <ion-item-option (click)="agregarCarro('Animal Crossing New Leaf',item3)" color="warning">
            <ion-icon name="card-outline"></ion-icon>
            <ion-label>Comprar</ion-label></ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-card>
          <ion-card-header color="primary">
              <ion-card-title>Animal Crossing New Leaf</ion-card-title>
              <ion-card-subtitle>
                <ion-chip class="fondoPrecio" color="danger">
                  <ion-icon name="cash-outline"></ion-icon>
                  <ion-label>$30.000</ion-label>
                </ion-chip>
              </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content >
              <div class="ion-margin-top">
                <ion-img class='imagenProducto' src="assets/juegos/animal.jpg"></ion-img>
              </div>
              <div class="ion-padding ion-text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, doloremque. Dolores excepturi magnam commodi. Soluta quaerat rem eos quasi, accusantium, sapiente explicabo quos alias dolor laborum blanditiis, excepturi numquam aliquid!</p>
              </div>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
